{% extends "base.html" %}
{% block content %}

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{url_for('static', filename='tranzblox-logo.png')}}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">Cagnotte pour notre projet</h3>
  </div>
</div>
<hr>
<style type="text/css">
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
</style>

<table class="table table-bordered table-striped sortable">
    <thead>
        <tr>
            <th style="width: 20%; vertical-align: middle;" rowspan="2" class="az down sorted" data-defaultsign="nospan" data-defaultsort="asc" data-sortcolumn="0" data-sortkey="0-0">Index</th>
            <th style="width: 20%; vertical-align: middle;" rowspan="2" class="az down sorted" data-defaultsign="nospan" data-defaultsort="asc" data-sortcolumn="0" data-sortkey="0-0">Total</th>
            <th data-defaultsort="disabled" class="nosort" data-sortcolumn="5" data-sortkey="5-0"></th>
            <th data-defaultsort="disabled" class="nosort" data-sortcolumn="5" data-sortkey="5-0"></th>
            <th data-defaultsort="disabled" class="nosort" data-sortcolumn="5" data-sortkey="5-0"></th>
            <th colspan="4" data-mainsort="3" style="text-align: center;" class="nosort" data-sortcolumn="1" data-sortkey="1-0">Transactions</th>
        </tr>
        <tr>
          <th>Proof</th>
          <th>Previous hash</th>
          <th>Timestamp</th>
          <th>Montant</th>
          <th>Expéditeur</th>
          <th>Destinataire</th>
        </tr>
    </thead>
    <tbody>
      {% for chain in response['chain'] %}
      <tr>
        <td>{{ chain['index'] }}</td>
        <td>{{ chain['total'] }}</td>
        <td>{{ chain['proof'] }}</td>
        <td>{{ chain['previous_hash'] }}</td>
        <td>{{ chain['timestamp'] }}</td>
        {% for transaction in chain['transactions'] %}
          <td>{{ transaction['amount'] }}</td>
          <td>{{ transaction['sender'] }}</td>
          <td>{{ transaction['recipient'] }}</td>
        {% endfor %}
      {% endfor %}
      </tr>
    </tbody>
</table>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Les créateurs <i class="fa fa-copyright" aria-hidden="true"></i></h5>
                <ul class="list-unstyled">
                  {% for each in authors %}
                    <li>
                        <a href="#">{{each}}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

